data/*
python38venv/*
/weights/*
output/just_yolo_frames/*
output/frames_saved/*
data/4433.zip
faces.zip
main_models/PyVGGFace/venv/*
output/just_yolo_frames2/*
main_models/face.evoLVe/disp/*
main_models/PyVGGFace/*.png
main_models/PyVGGFace/models/*
*.pyc
awsstuff/*
192copy/*
main_models/arcface/mtcnn-model/*
main_models/mtcnn-model/*
resnet100.onnx
player*.jpg
scripts/mtcnn-model
scripts/scrape.html
scripts/wget-log
scripts/dropboxlinks.txt
